---
openapi: 3.0.1
info:
  title: API V1
  version: v1
paths:
  "/users":
    get:
      summary: Returns all the users in the system. Users are our end users
      tags:
      - Users
      responses:
        '200':
          description: lists all the users
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Id of the user
                  email:
                    type: string
                    description: Email of the user
                  name:
                    type: string
                    description: Name of the user
    post:
      summary: Creates a user in our system. Treat it like a user himself signups
        with our system. The apis is http authenticated protected. Username/password
        is admin/admin
      tags:
      - Users
      parameters: []
      responses:
        '200':
          description: Returns the newly created user id along with its signed token.
            This signed token must be used for creating contacts and initiating transation
            as a bearer token
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: integer
                    description: Id of the user created
                  auth_token:
                    type: string
                    description: Signed Auth token . This auth token needs to be sent
                      as bearer token for every operation that a user does
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of user
                email:
                  type: string
                  description: Email of user
                phone_number:
                  type: string
                  description: Phone number of user
                password:
                  type: string
                  description: Some random password just to mimic sign up
                balance:
                  type: integer
                  description: Every user will have a balance to start with
              required:
              - name
              - email
              - phone_number
              - password
              - balance
  "/users/:id":
    get:
      summary: Returns a specific user in our system. Users are our end users
      tags:
      - Users
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: displays the specific user
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Id of the user
                  email:
                    type: string
                    description: Email of the user
                  name:
                    type: string
                    description: Name of the user
  "/contacts":
    get:
      summary: Returns all the contacts for a user. The user id is fetched from the
        signed authentication token which needs to be passed in the Bearer
      tags:
      - Contacts
      responses:
        '200':
          description: lists all the contacts
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Id of the contact
                  name:
                    type: string
                    description: Name of the contact
                  user_id:
                    type: integer
                    description: User ID to which the contact belongs to
                  phone_number:
                    type: string
                    description: Phone number of the contact
    post:
      summary: Creates a contact belonging to a user in our system. The user id is
        fetched from the signed authentication token which needs to be passed in the
        Bearer
      tags:
      - Contacts
      parameters: []
      responses:
        '200':
          description: Returns the newly created contact
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Id of the contact created
                  name:
                    type: string
                    description: Name of the contact
                  user_id:
                    type: integer
                    description: User Id to which the contact belongs to
                  phone_number:
                    type: string
                    description: Phone number of the contact
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the contact
                user_id:
                  type: integer
                  description: User id to which the contact belongs to
                phone_number:
                  type: string
                  description: Phone number of the contact
              required:
              - name
              - phone_number
  "/contacts/:id":
    get:
      summary: Returns a specific contact for a user. The user id is fetched from
        the signed authentication token which needs to be passed in the Bearer
      tags:
      - Contacts
      responses:
        '200':
          description: lists specific contact for the user
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Id of the contact
                  name:
                    type: string
                    description: Name of the contact
                  user_id:
                    type: integer
                    description: User ID to which the contact belongs to
                  phone_number:
                    type: string
                    description: Phone number of the contact
  "/initiate_transaction":
    post:
      summary: Intiate a transaction to a contact. The user id which initiates the
        transaction is fetched from the signed authentication token which needs to
        be passed in the Bearer
      tags:
      - Transactions
      parameters: []
      responses:
        '200':
          description: Successfull creation of transaction
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: A string message highlighting if the transaction
                      was successfull or failure
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                transaction_type:
                  type: string
                  description: 'Allowed values: debit | credit'
                contact_id:
                  type: integer
                  description: contact_id to which transaction needs to be done
                amount:
                  type: integer
                  description: amount for transaction
              required:
              - transaction_type
              - contact_id
              - amount
  "/users/:id/transactions":
    get:
      summary: Fetch all the transaction for a user
      tags:
      - Transactions
      parameters:
      - name: id
        in: path
        type: integer
        description: User Id for which transaction are required
        schema:
          type: object
          properties:
            transaction_type:
              type: string
              description: 'Fetch transactions for one of the allowed transaction
                types: Debit | Credit'
            contact_id:
              type: integer
              description: Fetch transactions for this particular contact id
            page_number:
              type: integer
              description: Pagination supported through page number. If not given,
                page_number will be 1
            page_size:
              type: integer
              description: Pagination supported through page size. If not given, page
                size will be 50
        required: true
      responses:
        '200':
          description: Successful response listing all the transactions
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Status of the transactions
                  transaction_type_id:
                    type: integer
                    description: transaction type id 1 for credit , 2 for debit
                  amount:
                    type: integer
                    description: Amount for the transaction
                  user_id:
                    type: integer
                    description: User id who initiated the transaction
                  contact_id:
                    type: integer
                    description: Contact id with which the transaction was done
                  created_at:
                    type: integer
                    description: Created Time stamp of the transaction
servers:
- url: https://{defaultHost}
  variables:
    defaultHost:
      default: www.example.com
